.button {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 10rem;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8b3479;
  border-radius: 10rem;
  z-index: -2;
}

.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #c8a9c0;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover {
  color: #fff;
  cursor: pointer;
}
.button:hover:before {
  width: 100%;
}

.contact-us-container {
  display: flex;
  flex-direction: column;
  min-height: 750px;
  align-items: center;
  color: var(--main-color);
}

.contact-us-header {
  font-size: 3em;
  margin: 40px 90px;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  color: #8b3479;
  /*   color:var(--main-color); */
}

.contact-us-split-content {
  display: flex;
  /* border: 1px solid red; */
  width: 90%;
  min-height: 50%;
  flex-direction: row;
}

.contact-us-split-name-email-message {
  display: flex;
  flex-direction: column;
  /* width: 50%; */
  flex: 0 1 70%;
}

.contact-us-name-email-row {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-evenly;
  margin-bottom: 2em;
  /*   justify-content: space-around; */
}

.contact-us-name-col {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  /*   margin: 0 auto 0 0; */
}

.name-text {
  font-family: var(--ff-noto);
  font-weight: var(--semibold);
  font-size: 1em;
  margin-bottom: 5px;
}

.name-form-box {
  border: 0.5px solid black;
  width: 12em;
  height: 1.7em;
}

.contact-us-email-col {
  display: flex;
  flex-direction: column;
}

.email-text {
  font-family: var(--ff-noto);
  font-weight: var(--semibold);
  font-size: 1em;
  margin-bottom: 5px;
}

.email-form-box {
  border: 0.5px solid black;
  width: 12em;
  height: 1.7em;
}
.contact-us-message {
  display: flex;
  flex-direction: column;
}
.message-text {
  font-family: var(--ff-noto);
  font-weight: var(--semibold);
  font-size: 1em;
  margin-bottom: 5px;
}

.message-form-box {
  border: 0.5px solid black;
  width: 70%;
  height: 300px;
}

.errorAlertText {
  color: red;
  font-size: 1.5em;
  text-align: center;
}
.messageSentContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.messageSentContent {
  font-size: 2em;
  text-align: center;
  width: 250px;
  height: 150px;
}
.contact-us-split-image {
  /* border: 1px solid black; */
  /* padding: 10px; */
  /* margin: 5px; */
  flex: 0 1 10%;
  min-height: 30em;
  /* height: 20em; */
  min-width: 40vw;
  /* flex-basis: 100%; */
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../../public/home2.jpg");
}

.contact-us-submit-button {
  margin-top: 50px;
  /* fill: var(--main-color); */
  color: white;
  /* background-color: var(--main-color); */
  /* border-style: solid; */
  /* border-width: 2px 2px 2px 2px; */
  /* border-color: var(--main-color); */
  /* border-radius: 30px 30px 30px 30px; */
  /* line-height: 1; */
  /* font-size: 15px; */
  /* padding: 12px 24px; */
  /* width: 30%; */
}

.width-30 {
  width: 30%;
}
