/* *------------------DONATION PAGE STYLES------------------ */

.donate-split-content-container {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  align-items: center;
  color: #8b3479;
}
.donate-container {
  display: flex;
  flex-direction: column;
  /* min-height: 500px; */
  margin-top: -50px;
  align-items: center;
  color: #8b3479;
}

.donate-header {
  font-size: 3em;
  margin: 40px 90px;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  color: #8b3479;
}

.donate-subtext {
  margin: 10px 0px 20px 0px;
  text-align: center;
  font-size: 1.6em;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

.donate-split-content {
  display: flex;
  /* border: 1px solid red; */
  width: 85%;
  min-height: 50%;
  flex-direction: row;
}

.donate-split-text {
  flex: 0 1 70%;
}

.donate-split-text-title {
  /* border: 1px solid black; */
  padding: 10px;
  /* margin: 5px; */
  color: #8b3479;
  /* font-family: "Noto Sans", sans-serif;; */
  font-family: "Playfair Display", serif;
  /* font-family: 'Open Sans Condensed', sans-serif; */
  font-weight: 900;
  font-size: 3em;
}

.donate-split-text-description {
  /* border: 1px solid black; */
  max-width: 30em;
  padding: 10px;
  margin: 5px;
  color: #8b3479;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.4em;
  line-height: 30px;
}

.donate-split-image {
  /* border: 1px solid black; */
  min-height: 20em;
  padding: 10px;
  margin: 5px;
  flex: 0 1 30%;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../public/dogIllustration.png");
}

.donate-donation-button {
  margin-top: 40px;
  padding: 0.75rem 1.25rem;
}
.donate-paypal-content {
  margin-bottom: 20px;
}

.donation-split-content {
  display: flex;
  /* border: 1px solid red; */
  width: 80%;
  min-height: 50%;
  flex-direction: row;
  margin-bottom: 2em;
}

.donation-split-text {
  flex: 0 1 70%;
}

.donation-split-points-left-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 30em;
  padding: 10px;
  margin: 5px;
  color: #8b3479;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2.5em;
  flex: 0 1 50%;
}

.donation-split-points-right-container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: left;
  /* align-content: center; */
  /* justify-content: center; */
  max-width: 30em;
  padding: 10px;
  margin: 5px;
  color: #8b3479;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2.5em;
  flex: 0 1 50%;
}

.donation-point-container {
  margin: 40px;
}

.donation-point-text {
  /* margin-right: -30px; */
}
